<div class="calendar">
  <div class="header">
    <button (click)="prevMonth()">&lt;</button>
    <h1>{{ monthYear }}</h1>
    <button (click)="nextMonth()">&gt;</button>
  </div>
  <div class="days">
    <div class="day">Sun</div>
    <div class="day">Mon</div>
    <div class="day">Tue</div>
    <div class="day">Wed</div>
    <div class="day">Thu</div>
    <div class="day">Fri</div>
    <div class="day">Sat</div>
  </div>
  <div class="dates" cdkDropList (cdkDropListDropped)="drop($event)">
    <div [ngClass]="getAppointmentForDate(date, i) ? 'coloredDate' : 'date'" *ngFor="let date of dates; let i = index"
      (click)="openEventModal(date, i)">
      {{ date }}
      <div class="appointmentDetails" *ngIf="getAppointmentForDate(date, i)" cdkDrag>
        <p>{{getAppointmentForDate(date, i)?.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal event show-modal" *ngIf="modalVisible">
  <div class="modal-content">
    <span class="close" (click)="closeEventModal()">&times;</span>
    <h2>{{ eventDate }}</h2>
    <form [formGroup]="calendarForm" (ngSubmit)="onSubmit()">
      <div>
        <textarea class="area" id="eventDescription"
          [ngModel]="getAppointmentForDate(parseInt(eventDate.split(' ')[1]), currentIndex)?.description"
          formControlName="eventDescription"></textarea>
        <div
          *ngIf="calendarForm.get('eventDescription') && calendarForm.get('eventDescription')?.invalid && (calendarForm.get('eventDescription') && calendarForm.get('eventDescription')?.dirty || calendarForm.get('eventDescription') && calendarForm.get('eventDescription')?.touched)">
          <div *ngIf="isFormError">{{formError}}</div>
        </div>
      </div>
      <button type="submit">
        {{ getAppointmentForDate(parseInt(eventDate.split(' ')[1]), currentIndex)?.description ? 'Update/Save' : 'Save'
        }}
      </button>
      <button *ngIf="getAppointmentForDate(parseInt(eventDate.split(' ')[1]), currentIndex)?.description" type="button"
        (click)="deleteEvent()">
        Delete
      </button>
    </form>
  </div>
</div>